<section class="foldbox">
  <div class="wrapper">
    <div class="page__block">
      <div class="foldbox-list"
           qaFoldboxBehavior
           foldboxToggleAllSelector="[data-foldbox-toggle-all]">
        <div class="foldbox-list__button">
          <button data-foldbox-toggle-all
                  class="button" style="min-width: 120px;"
                  (click)="opened = !opened">
            {{ !opened ? 'Показать все' : 'Скрыть все' }}
          </button>
        </div>
        <div class="foldbox-list__group">
          <div *ngFor="let item of items; trackBy: trackById" class="foldbox-list__item" qaFoldboxBehavior>
            <div class="foldbox" data-foldbox>
              <div class="foldbox__head" data-foldbox-head>
                <div class="foldbox__title">{{ item.title }}</div>
                <div class="foldbox__arrow"></div>
              </div>
              <div class="foldbox__body" data-foldbox-body>
                <div class="foldbox__box" [innerHTML]="item.text | safe: 'html'"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

