.news__slider {
  margin-bottom: 0;
  padding-bottom: 0;
}

.news__slider-nav.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 20px;
}

.news__slider .swiper-pagination {
  text-align: left;
}
